

/* Root container */
.container {
  max-width: 100%;
  min-height: 98%;
  display: flex;
  flex-direction: column;
  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: var(--alt-item-bg2);
  color: var(--item-text-color);
  
  /* padding: 1rem; */
}

/* Title Styling */
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.list-item:nth-child(odd) {
  background-color: var(--alt-item-bg1);
}

.list-item:nth-child(even) {
  background-color: var(--alt-item-bg2);
}

/* Define colors for light and dark themes */
:root {
  --alt-item-bg1: #ffffff; /* Light theme odd item */
  --alt-item-bg2: #dddddd; /* Light theme even item */
  --hover-bg: #e5f0ff;
  --item-text-color: #313131;
}

[data-theme="dark"] {
  --alt-item-bg1: #272727; /* Dark theme odd item */
  --alt-item-bg2: #4c4b4b; /* Dark theme even item */
  --hover-bg: #627083;
  --item-text-color: #e0e0e0;
}


/* List Container */
/* .list-container {
  flex-grow: 1;
  background-color: #f9fafb;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  
} */

.list-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow: hidden;
  background-color: var(--alt-item-bg1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* border-radius: 10px; */
  
}

/* List Items */
.list-item {
  padding: 10px;
  /* transition: all 0.2s ease-in-out; */
  color: var(--item-text-color);
  display: flex;
  flex-direction: row;
  width: 100%; /* Ensure it does not exceed the container */
  box-sizing: border-box;
  border-bottom: 1px solid rgb(134, 134, 134);
}

.text-heading{
  font-size: 16px;
  font-weight: bold;
}

.list-item:hover {
  background-color: var(--hover-bg);
}

.list-item img {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}



/* Loading Message */
.loading-text {
  text-align: center;
  color: rgb(27, 27, 27);
  margin-top: 10px;
}

/* Toggle Button Styles */
.toggle-btn {
  background-color: var(--alt-item-bg1);
  color: var(--item-text-color);
  border-bottom: 1px solid rgb(134, 134, 134);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.toggle-btn:hover {
  background-color: var(--hover-bg);
  
}

.toggle-btn:focus {
  outline: none;
  box-shadow: 0 0 5px var(--item-text-color);
}
